extends layout.pug
include mixins/_cardLanguageButtons
include mixins/_cardLegalities
include mixins/_cardPricing
include mixins/_cardOtherPrintings
include mixins/_cardVariations

block title

block sorters
    each card in data
        table(width="100%")
            tbody
                tr
                    td(width="100%" colspan="3" align="right")
                        +cardLanguageButtons(card)
                tr
                    td(rowspan=2 width="5%")
                        i(class='ss ss-' + card.set.code + ' ss-' + card.rarity.name.toLowerCase() + ' ss-2x')
                    td(width="95%")
                        a.header(href="/set/" + card.set.code + "/" + card.language.code + "?displayAs=" + displayAs + "&sortedBy=" + sortedBy + "&orderBy=" + orderBy) #{card.set.name} (#{card.set.code})
                tr
                    td(width="95%" colspan=2) ##{card.collector_number} &#11825; #{card.rarity.name} &#11825; #{card.language.name}
block data
    table(width="100%")
        tbody
            each card in data
                tr
                    td(width="30%" valign="top")
                        if card.faces.length > 0
                            if card.faces[0].image_uris.length > 0
                                img.ui.medium.image(src="/images/cards/" + card.set.code + "/" + card.language.code + "/" + card.faces[0].id + "/normal.jpg"
                                    alt=card.language.code == "en" ? card.name : card.printed_name)
                            else
                                img.ui.medium.image(src="/images/cards/" + card.set.code + "/" + card.language.code + "/" + card.id + "/normal.jpg"
                                    alt=card.language.code == "en" ? card.name : card.printed_name)
                        else
                            img.ui.medium.image(src="/images/cards/" + card.set.code + "/" + card.language.code + "/" + card.id + "/normal.jpg"
                                alt=card.language.code == "en" ? card.name : card.printed_name)
                        P &nbsp;
                        h3 Variations
                            +cardVariations(card)
                        P &nbsp;
                        h3 Other Printings
                            +cardOtherPrintings(card)
                    td(width="50%" valign="top")
                        .ui.items
                            .item
                                .content
                                    if card.faces.length > 0
                                        each face in card.faces
                                            .header #{card.language.code == "en" ? face.name : face.printed_name} &nbsp;&nbsp;&nbsp;
                                                if face.mana_cost != null
                                                    each mana in  manaSymbols(face.mana_cost)
                                                        if mana == "//"
                                                            = mana
                                                        else
                                                            img(src="/images/mana/" + mana + ".svg" height="16")
                                            .meta #{card.language.code == "en" ? face.type_line : face.printed_type_line}
                                            if face.power || face.toughness
                                                .description #{face.power} / #{face.toughness}
                                            if card.language.code == "en"
                                                .description !{changeManaSymbolsInText(face.oracle_text)}
                                            else
                                                .description !{changeManaSymbolsInText(face.printed_text)}
                                            if face.flavor_text
                                                .meta
                                                    i #{ face.flavor_text }
                                            .description Illustrated by #{card.artist.name}
                                            p &nbsp;
                                    else
                                        .header #{card.language.code == "en" ? card.name : card.printed_name} &nbsp;&nbsp;&nbsp;
                                            if card.mana_cost != null
                                                each mana in  manaSymbols(card.mana_cost)
                                                    if mana == "//"
                                                        = mana
                                                    else
                                                        img(src="/images/mana/" + mana + ".svg" height="16")
                                        .meta #{card.language.code == "en" ? card.type_line : card.printed_type_line}
                                        if card.power || card.toughness
                                            .description #{card.power} / #{card.toughness}
                                        if card.language.code == "en"
                                            .description !{card.oracle_text != null ? changeManaSymbolsInText(card.oracle_text) : "&nbsp;"}
                                        else
                                            .description !{card.printed_text != null ? changeManaSymbolsInText(card.printed_text) : "&nbsp;"}
                                        if card.flavor_text
                                            .meta
                                                i #{ card.flavor_text }
                                        .description Illustrated by #{card.artist.name}

                    td(width="20%" valign="top")
                        h3 Pricing
                        +cardPricing(card)
                        h3 Legalities
                        +cardLegalities(card)

