extends layout.pug
include mixins/_cardLanguageButtons
include mixins/_cardLegalities
include mixins/_cardPricing
include mixins/_cardOtherPrintings
include mixins/_cardParts
include mixins/_cardVariations
include mixins/_cardRulings

block pageTitle
    each card in data
        title #{card.language.code == "en" ? card.name : card.printed_name} (#{card.set.code}) - #{defaultPageTitle}
block headline
block sorters
    if data.length == 0
        .ui.error.message
            .header Card not found.
    else
        each card in data
            table(width="100%")
                tbody
                    tr
                        td(width="100%" colspan="3" align="right")
                            +cardLanguageButtons(card)
                    tr
                        td(rowspan=2 width="5%")
                            i(class='ss ss-' + card.set.keyrune_class + ' ss-' + card.rarity.name.toLowerCase() + ' ss-2x')
                        td(width="95%")
                            h2.ui.header
                                a(href="/set/" + card.set.code + "/" + card.language.code + "?displayAs=" + displayAs + "&sortedBy=" + sortedBy + "&orderBy=" + orderBy) #{card.set.name} (#{card.set.code})
                    tr
                        td(width="95%" colspan=2) ##{card.collector_number} &#11825; #{card.rarity.name} &#11825; #{card.language.name}
block data
    script.
        function transformCard(cardId, image1, image2) {
            const img = document.getElementById(cardId)

            if (img.name == image1) {
                img.src = image2
                img.name = image2
            } else {
                img.src = image1
                img.name = image1
            }
        }

        function flipCard(cardId) {
            const img = document.getElementById(cardId)
        }

    table(width="100%")
        tbody
            each card in data
                - const image1 = cardImageUrl(card, ImageTypeEnum.normal, 0)
                - let image2 = card.image_uris.length > 1 ? cardImageUrl(card, ImageTypeEnum.normal, 1) : ""

                tr
                    td(width="30%" style="padding: 10px; vertical-align: top;")
                        img.ui.medium.image(src=image1
                                            name=image1
                                            id=card.id
                                            alt=card.language.code == "en" ? card.name : card.printed_name)
                        if card.layout.name == "Split"
                            button.ui.basic.button(onclick="rotateCard('" + card.id + "')").
                                <i class="icon redo"></i> Rotate
                        if card.layout.name == "Planar"
                            button.ui.basic.button(onclick="rotateCard('" + card.id + "')").
                                <i class="icon redo"></i> Rotate
                        if card.layout.name == "Flip"
                            button.ui.basic.button(onclick="flipCard('" + card.id + "')").
                                <i class="icon redo"></i> Flip
                        if card.layout.name == "Transform"
                            button.ui.basic.button(onclick="transformCard('" + card.id + "', '" + image1 + "', '" + image2 + "')").
                                <i class="icon sync"></i> Transform
                        if card.layout.name == "Double Faced Token"
                            button.ui.basic.button(onclick="transformCard('" + card.id + "', '" + image1 + "', '" + image2 + "')").
                                <i class="icon sync"></i> Turn Over
                        if card.layout.name == "Art Series"
                            button.ui.basic.button(onclick="transformCard('" + card.id + "', '" + image1 + "', '" + image2 + "')").
                                <i class="icon sync"></i> Turn Over
                        p &nbsp;
                        h2.ui.header Variations
                        p
                            +cardVariations(card)
                        h2.ui.header Parts
                        p
                            +cardParts(card)
                        h2.ui.header Other Printings
                        p
                            +cardOtherPrintings(card)
                    td(width="50%" style="padding: 10px; vertical-align: top;")
                        .ui.items
                            .item
                                .content
                                    if card.faces.length > 0
                                        each face in card.faces
                                            .header #{card.language.code == "en" ? face.name : face.printed_name} &nbsp;&nbsp;&nbsp; !{manaCost2Html(face.mana_cost)}
                                            .meta #{card.language.code == "en" ? face.type_line : face.printed_type_line}
                                            if face.power || face.toughness
                                                .description #{face.power} / #{face.toughness}
                                            if card.language.code == "en"
                                                .description !{changeManaSymbolsInText(face.oracle_text)}
                                            else
                                                .description !{changeManaSymbolsInText(face.printed_text)}
                                            if face.flavor_text
                                                .meta
                                                    p &nbsp;
                                                    i #{ face.flavor_text }
                                            .description
                                                p &nbsp;
                                                p Illustrated by #{card.artist.name}
                                            p &nbsp;
                                    else
                                        .header #{card.language.code == "en" ? card.name : card.printed_name} &nbsp;&nbsp;&nbsp; !{manaCost2Html(card.mana_cost)}
                                        .meta #{card.language.code == "en" ? card.type_line : card.printed_type_line}
                                        if card.power || card.toughness
                                            .description #{card.power} / #{card.toughness}
                                        if card.language.code == "en"
                                            .description !{changeManaSymbolsInText(card.oracle_text)}
                                        else
                                            .description !{changeManaSymbolsInText(card.printed_text)}
                                        if card.flavor_text
                                            .meta
                                                p &nbsp;
                                                i #{ card.flavor_text }
                                        .description
                                            p &nbsp;
                                            p Illustrated by #{card.artist.name}

                                    .description
                                        h2.ui.header Rulings
                                        +cardRulings(card)

                    td(width="20%" style="padding: 10px; vertical-align: top;")
                        h2.ui.header Pricing
                        +cardPricing(card)
                        h2.ui.header Legalities
                        +cardLegalities(card)



