extends layout.pug

block pageTitle
    title #{defaultPageTitle}
block headline
block sorters
block data
    .colorlib-intro
        .container
            .row
                .col-md-10.col-md-offset-1.text-center.colorlib-heading.animate-box
                    script.
                        window.onload = function () {
                            document.getElementById("query").focus();
                        };
                    a(href="/")
                        img(src="/images/logo.png")
                    p
                        form(action="/search" method="get" id="search" name="search")
                            input(type="hidden" value=displayAs name="displayAs" id="search.displayAs")
                            input(type="hidden" value=sortedBy name="sortedBy" id="search.sortedBy")
                            input(type="hidden" value=orderBy name="orderBy" id="search.orderBy")
                            .ui.fluid.icon.input
                                input(type="text" value=query name="query" id="query" placeholder="Search for Magic cards...")
                                i.search.icon
                    p &nbsp;
                    p &nbsp;
