doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

        title Mana Guide database for MTG Magic: the Gathering
        meta(name="description" content="A database app for Magic: The Gathering. Search Magic MTG cards, View Pricing of Magic MTG cards, and more, at ManaGuideApp.com")
        meta(name="keywords" content="MTG Magic Gathering cards game tcg pricing mobile app ios android Vito Royeca")

        // favicon
        link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
        link(rel="icon" href="/images/favicon.ico" type="image/x-icon")

        // Google Raleway
        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,700"  type="text/css")

        // font awesome
        link(rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css")

        // Bootstrap
        link(rel="stylesheet" href="/css/bootstrap/bootstrap.min.css")
        link(rel="stylesheet" href="/css/superslide/superslides.css")

        link(rel="stylesheet" href="/css/fancybox/jquery.fancybox.css")
        link(rel="stylesheet" href="/css/nivo-lightbox/nivo-lightbox.css")
        link(rel="stylesheet" href="/css/themes/default/default.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/responsive.css")
        link(rel="stylesheet" href="/css/animate/animate.css")
        link(rel="stylesheet" href="/css/owl-carousel/owl.carousel.css")
        link(rel="stylesheet" href="/css/owl-carousel/owl.theme.css")
        link(rel="stylesheet" href="/css/owl-carousel/owl.transitions.css")

        // keyrune
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" type="text/css")

        // semantic style
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css" type="text/css")
        style.
            table.ui.celled img { display: inline-block; }
            footer { margin: 35px 0 15px 0; text-align: center; }

        // Google Analytics
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-53780226-5', 'auto');
            ga('send', 'pageview');

        // Comodo SSL
        script(type="text/javascript").
            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));

    body
        // template JS functions
        -    function manaSymbols(manaCost) {
        -        if (manaCost == null) {
        -            return null
        -        }
        -
        -        var cleanString = manaCost.replace(/{/g, "").trim()
        -        cleanString = cleanString.replace(/ /g, "").trim()
        -        if (cleanString.includes("//")) {
        -           cleanString = cleanString.replace(/\/\//g, "//}").trim()
        -        } else if (cleanString.includes("/")) {
        -           cleanString = cleanString.replace(/\//g, "").trim()
        -        }
        -
        -        var array = cleanString.split("}")
        -        var manaArray = []
        -
        -        for (var i = 0; i < array.length-1; i++) {
        -            var mana = array[i]
        -            if (mana.toLowerCase() == "chaos") {
        -                mana = "Chaos"
        -            }
        -
        -            manaArray[i] = mana
        -        }
        -        return manaArray
        -    }
        -
        -
        -    function changeManaSymbolsInText(text) {
        -        var sentinel = 0
        -        var manaStart = -1
        -        var manaEnd = -1
        -        var newText = ""
        -        var leftString = ""
        -        var rightString = ""
        -
        -       for (var i = 0; i < text.length; i++) {
        -            const charAt = text.charAt(i)
        -
        -            if (charAt == '{') {
        -                manaStart = i
        -            }
        -            if (charAt == '}' && manaStart != -1) {
        -                manaEnd = i+1

        -                const manaCost = text.substring(manaStart, manaEnd)
        -                const manaString = manaCost.replace(/{/g, "").replace(/}/g, "")
        -                const manaSymbol = "<img src=\'/images/mana/" + manaString + ".svg\' height=\'16\' />"
        -
        -                leftString = text.substring(sentinel, manaStart)
        -                rightString = text.substring(manaEnd)
        -                newText = newText + leftString + manaSymbol
        -                sentinel = manaEnd
        -            }
        -
        -            if (i == text.length - 1) {
        -                if (manaStart == -1 || manaEnd == 1) {
        -                    newText = text
        -                } else {
        -                    newText = newText + rightString
        -                }
        -            }
        -        }
        -
        -        newText = newText.replace(/\n/g, "<br/>").trim()
        -        return newText
        -    }
        -

        // page JS functions
        script.
            function invokeSorter(action, target, value) {
                document.getElementById(action + "." + target).value = value
                var notEmpty = true

                const elements = document.getElementById(action).elements
                for (var i = 0; i < elements.length; i++) {
                    const item = elements.item(i)

                    if (item.value == null || item.value.length <= 0) {
                        notEmpty = false
                        break
                    }
                }

                if (notEmpty) {
                    document.getElementById(action).submit();
                }
            }

        .preloader
            .loaded
        header.header.navbar-static-top#home
            .navbar.navbar-default.main-menu
                .container
                    .navbar-header
                        a.navbar-brand(href="/" alt="Logo")
                            img(src="/images/logo.png")
                        a.navbar-brand(href="/search")
                        form.navbar-brand(action="/search" method="get" id="search" name="search")
                            .ui.icon.input
                                input(type="hidden" value=displayAs name="displayAs" id="search.displayAs")
                                input(type="hidden" value=sortedBy name="sortedBy" id="search.sortedBy")
                                input(type="hidden" value=orderBy name="orderBy" id="search.orderBy")
                                input(type="text" value=query name="query" id="query" placeholder="Search for Magic cards...")
                                i.search.icon
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/#features") Features
                            li
                                a(href="/#story") Story
                            li
                                a(href="/#video") Video
                            li
                                a(href="/sets?displayAs=" + displayAs + "&sortedBy=" + sortedBy + "&orderBy=" + orderBy) Database



        section#content
            .container
                .row
                    .row.main_description
                        block title
                        block sorters
                        block data

        footer.center-content#footer
            .container
                .row
                    .col-md-12.col-sm-12
                        .socail_bookmark
                            a(href="https://twitter.com/ManaGuideApp")
                                i.fa.fa-twitter
                            a(href="https://www.facebook.com/managuide/")
                                i.fa.fa-facebook
                            a(href="https://plus.google.com/u/1/106570945096867830873")
                                i.fa.fa-google-plus
                    .col-md-12.col-sm-12
                        .copyright_text
                            p.
                                Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a> <br/><br/>
                                This website and related apps contain data that is Copyright © Wizards of the Coast - All Rights Reserved<br/><br/>
                                This website is not affiliated with Wizards of the Coast in any way.<br/><br/><br/>
                                Mana Guide is maintained by: <a href="https://vitoroyeca.com"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Vito Royeca</span></span></a>

        // START SCROLL TO TOP
        .scrollup
            a(href="#")
                i.fa.fa-chevron-up

        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src="/js/jquery/jquery.js")
        script(src="/js/script.js")

        // Include all compiled plugins (below), or include individual files as needed
        script(src="/js/bootstrap/bootstrap.min.js")
        script(src="/js/fancybox/jquery.fancybox.pack.js")
        script(src="/js/nivo-lightbox/nivo-lightbox.min.js")
        script(src="/js/owl-carousel/owl.carousel.min.js")
        script(src="/js/jquery-easing/jquery.easing.1.3.js")
        script(src="/js/superslide/jquery.superslides.js")
        script(src="/js/wow/wow.min.js")

        // Comodo SSL
        script(language="JavaScript" type="text/javascript").
            TrustLogo("https://managuideapp.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
        a(href="https://ssl.comodo.com" id="comodoTL") Comodo SSL

        // sortable table
        // script(src="/js/tablesort.js")
        // script.
        //    (function () {
        //        $('table').tablesort()
        //    })();
