include js/constants
include js/functions

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        block pageTitle
        meta(name="description" content=defaultPageDescription)
        meta(name="keywords" content=defaultPageKeywords)
        meta(name="author" content=defaultPageAuthor)

        // favicon
        link(href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon")
        link(href="/images/favicon.ico" type="image/x-icon" rel="icon" )

        // Animate.css
        link(href="/css/animate.css" rel="stylesheet")
        // Icomoon Icon Fonts
        link(href="/css/icomoon.css" rel="stylesheet")
        // Bootstrap
        link(href="/css/bootstrap.css" rel="stylesheet")
        // Magnific Popup
        link(href="/css/magnific-popup.css" rel="stylesheet")
        // Theme style
        link(href="/css/style.css" rel="stylesheet")
        // My style
        link(href="/css/my.css" rel="stylesheet")

        // Modernizr JS
        // script(src="/js/modernizr-2.6.2.min.js")
        // FOR IE9 below
        // [if lt IE 9]>
        script(src="/js/respond.min.js")
        // <![endif]

        // Google Analytics
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-53780226-5', 'auto');
            ga('send', 'pageview');

        // Google AdSense
        // script(data-ad-client="ca-pub-6077338541353770"
        //       async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

        // lazysizes
        script(src="/js/lazysizes.min.js")

        // My Scripts
        // script(src="/scripts/advancesearch.js")
        script(src="/scripts/card.js")
        script(src="/scripts/utilities.js")

        // keyrune
        link(href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css")

        // Semantic UI
        link(async href="//cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.css" type="text/css" rel="stylesheet")
        script(async src="//cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.js")


        // Comodo SSL
        script(type="text/javascript").
            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));

    body
        .colorlib-loader
        .page
            nav.colorlib-nav(role="navigation")
                .top-menu
                    .container
                        .row
                            if baseUrl != null && baseUrl == "/"
                                .col-md-2 &nbsp;
                            else
                                .col-md-2
                                        a(href="/")
                                            img(src="/images/logo.png")

                            .col-md-10.text-right.menu-1
                                ul
                                    li
                                        if baseUrl != null && baseUrl == "/"
                                            <i class="home icon"></i> Home
                                        else
                                            a(href="/" style="color: #000") <i class="home icon"></i> Home
                                    li
                                        if baseUrl != null && baseUrl == "/sets/"
                                            <i class="ss ss-leg"></i> Sets
                                        else
                                            a(href="/sets" style="color: #000") <i class="ss ss-leg"></i> Sets
                                    li
                                        if baseUrl != null && baseUrl.includes("/rules")
                                            <i class="book icon"></i> Rules
                                        else
                                            a(href="/rules" style="color: #000") <i class="book icon"></i> Rules
                                    li
                                        if baseUrl != null && baseUrl == "/mobile/"
                                            <i class="mobile icon"></i> Mobile App
                                        else
                                            a(href="/mobile" style="color: #000") <i class="mobile icon"></i> Mobile App
                        if (baseUrl == undefined || baseUrl != "/") && baseUrl != "/advancesearch/"
                            .row
                                .col-md-offset-0
                                    form(action="/search" method="get" id="search" name="search")
                                        input(type="hidden" value=displayAs name="displayAs" id="search.displayAs")
                                        input(type="hidden" value=sortedBy name="sortedBy" id="search.sortedBy")
                                        input(type="hidden" value=orderBy name="orderBy" id="search.orderBy")
                                        .ui.fluid.icon.input
                                            input(type="text" value=query name="query" id="query" placeholder="Search for Magic cards...")
                                            i.search.icon
            if (baseUrl == undefined || baseUrl != "/") && baseUrl != "/advancesearch/"
                p &nbsp;
                p &nbsp;

            section#content
                .colorlib-intro
                    .container
                        .row
                            p &nbsp;
                            p &nbsp;
                            block headline
                        .row
                            block sorters
                        .row.main_description
                            block data

            footer#colorlib-footer
                .container
                    .row.row-pb-md
                        .col-md-3.colorlib-widget
                            // Comodo SSL
                            script(language="JavaScript" type="text/javascript").
                                TrustLogo("https://managuideapp.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
                            a.comodoTL(href="https://ssl.comodo.com") Comodo SSL
                        .col-md-3.colorlib-widget
                            h4 Connect With Us
                            p
                                ul.colorlib-social-icons
                                    li
                                        a(href="https://twitter.com/ManaGuideApp")
                                            i.icon-twitter2
                                    li
                                        a(href="https://www.facebook.com/managuide/")
                                            i.icon-facebook2
                                    li
                                        a(href="https://plus.google.com/u/1/106570945096867830873")
                                            i.icon-google-plus2
                        .col-md-3.colorlib-widget
                            h4 Links
                            p
                                ul.colorlib-footer-links
                                    li
                                        a(href="/") <i class="home icon"></i> Home
                                    li
                                        a(href="/sets") <i class="ss ss-leg"></i> Sets
                                    li
                                        a(href="/rules") <i class="book icon"></i> Rules
                                    li
                                        a(href="/mobile") <i class="mobile icon"></i> Mobile App
                        .col-md-3.colorlib-widget
                            h4 Information
                            p
                                ul.colorlib-footer-links
                                    li
                                        a(href="/privacy.html") <i class="briefcase icon"></i>  Privacy Policy
                    .row.row-pb-md
                        p(align="center").
                            This website and related apps contain data that is Copyright © Wizards of the Coast - All Rights Reserved<br/>
                            This website is not affiliated with Wizards of the Coast in any way.<br/><br/>
                            Mana Guide is maintained by:<br/> <a href="https://vitoroyeca.com"><span itemprop="author" itemscope itemtype="http://schema.org/Person" style="font-size: 20px; font-weight: bold;"><span itemprop="name">Vito Royeca</span></span></a>

        .gototop.js-top
            a.js-gotop(href="#")
                i.icon-arrow-up2

        // jQuery
        script(src="/js/jquery.min.js")
        // jQuery Easing
        //script(src="/js/jquery.easing.1.3.js")
        // Bootstrap
        script(src="/js/bootstrap.min.js")
        // Waypoints
        script(src="/js/jquery.waypoints.min.js")
        // Stellar Parallax
        script(src="/js/jquery.stellar.min.js")
        // Magnific Popup
        script(src="/js/jquery.magnific-popup.min.js")
        script(src="/js/magnific-popup-options.js")
        // Counters
        script(src="/js/jquery.countTo.js")
        // Main
        script(src="/js/main.js")
        // Semantic
        script(src="/js/semantic.min.js")
        script.
            $('.ui.selection.dropdown').dropdown();
            $('ui.mini.right.labeled.input').dropdown();







