doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title Mana Guide is a comprehensive database of Magic: The Gathering cards
        meta(name="description" content="Mana Guide is a comprehensive database of Magic: The Gathering cards. Search Magic MTG cards, View Pricing of Magic MTG cards, and more, at ManaGuideApp.com")
        meta(name="keywords" content="MTG Magic Gathering cards game tcg pricing mobile app ios android Vito Royeca")
        meta(name="author" content="Vito Royeca")

        // favicon
        link(href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon")
        link(href="/images/favicon.ico" type="image/x-icon" rel="icon" )

        // keyrune
        link(href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" type="text/css" rel="stylesheet")

        // semantic style
        link(href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css" type="text/css" rel="stylesheet")

        // Facebook and Twitter integration
        meta(property="og:title" content="")
        meta(property="og:image" content="")
        meta(property="og:url" content="")
        meta(property="og:site_name" content="")
        meta(property="og:description" content="")
        meta(name="twitter:title" content="")
        meta(name="twitter:image" content="")
        meta(name="twitter:url" content="")
        meta(name="twitter:card" content="")

        link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet")

        // Animate.css
        link(href="/css/animate.css" rel="stylesheet")
        // Icomoon Icon Fonts
        link(href="/css/icomoon.css" rel="stylesheet")
        // Bootstrap
        link(href="/css/bootstrap.css" rel="stylesheet")
        // Magnific Popup
        link(href="/css/magnific-popup.css" rel="stylesheet")
        // Owl Carousel
        link(href="/css/owl.carousel.min.css" rel="stylesheet")
        link(href="/css/owl.theme.default.min.css" rel="stylesheet")
        // Theme style
        link(href="/css/style.css" rel="stylesheet")

        // Modernizr JS
        // script(src="/js/modernizr-2.6.2.min.js")
        // FOR IE9 below
        // [if lt IE 9]>
        script(src="/js/respond.min.js")
        // <![endif]

        // Google Analytics
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-53780226-5', 'auto');
            ga('send', 'pageview');

        // Comodo SSL
        script(type="text/javascript").
            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));

    body
        // template JS functions
        -    function manaSymbols(manaCost) {
        -        if (manaCost == null) {
        -            return null
        -        }
        -
        -        var cleanString = manaCost.replace(/{/g, "").trim()
        -        cleanString = cleanString.replace(/ /g, "").trim()
        -        if (cleanString.includes("//")) {
        -           cleanString = cleanString.replace(/\/\//g, "//}").trim()
        -        } else if (cleanString.includes("/")) {
        -           cleanString = cleanString.replace(/\//g, "").trim()
        -        }
        -
        -        var array = cleanString.split("}")
        -        var manaArray = []
        -
        -        for (var i = 0; i < array.length-1; i++) {
        -            var mana = array[i]
        -            if (mana.toLowerCase() == "chaos") {
        -                mana = "Chaos"
        -            }
        -            if (mana.length == 3 && mana.includes("/")) {
        -                mana = mana.replace(/\//g, "").trim()
        -            }
        -            manaArray[i] = mana
        -        }
        -        return manaArray
        -    }
        -
        -    function changeManaSymbolsInText(text) {
        -        var sentinel = 0
        -        var manaStart = -1
        -        var manaEnd = -1
        -        var newText = ""
        -        var leftString = ""
        -        var rightString = ""
        -
        -       for (var i = 0; i < text.length; i++) {
        -            const charAt = text.charAt(i)
        -
        -            if (charAt == '{') {
        -                manaStart = i
        -            }
        -            if (charAt == '}' && manaStart != -1) {
        -                manaEnd = i+1

        -                const manaCost = text.substring(manaStart, manaEnd)
        -                const manaString = manaCost.replace(/{/g, "").replace(/}/g, "")
        -                const manaSymbol = "<img src=\'/images/mana/" + manaString + ".svg\' height=\'16\' />"
        -
        -                leftString = text.substring(sentinel, manaStart)
        -                rightString = text.substring(manaEnd)
        -                newText = newText + leftString + manaSymbol
        -                sentinel = manaEnd
        -            }
        -
        -            if (i == text.length - 1) {
        -                if (manaStart == -1 || manaEnd == 1) {
        -                    newText = text
        -                } else {
        -                    newText = newText + rightString
        -                }
        -            }
        -        }
        -
        -        newText = newText.replace(/\n/g, "<br/>").trim()
        -        return newText
        -    }
        -

        // page JS functions
        script.
            function invokeSorter(action, target, value) {
                document.getElementById(action + "." + target).value = value
                var notEmpty = true

                const elements = document.getElementById(action).elements
                for (var i = 0; i < elements.length; i++) {
                    const item = elements.item(i)

                    if (item.value == null || item.value.length <= 0) {
                        notEmpty = false
                        break
                    }
                }

                if (notEmpty) {
                    document.getElementById(action).submit();
                }
            }

        .colorlib-loader
        .page
            nav.colorlib-nav(role="navigation")
                .top-menu
                    .container
                        .row
                            .col-md-2
                                    a(href="/")
                                        img(src="/images/logo.png")
                            .col-md-10.text-right.menu-1
                                ul
                                    li.active
                                        a(href="/" style="color: #000") Home
                                    li
                                        a(href="/mobile" style="color: #000") Mobile App
                                    li
                                        a(href="/sets" style="color: #000") Sets
                                    li
                                        a(href="/rules" style="color: #000") Rules
                        if !isIndex
                            .row
                                .col-md-offset-0
                                    form(action="/search" method="get" id="search" name="search")
                                        .ui.fluid.icon.input
                                            input(type="hidden" value=displayAs name="displayAs" id="search.displayAs")
                                            input(type="hidden" value=sortedBy name="sortedBy" id="search.sortedBy")
                                            input(type="hidden" value=orderBy name="orderBy" id="search.orderBy")
                                            input(type="text" value=query name="query" id="query" placeholder="Search for Magic cards...")
                                            i.search.icon
            p &nbsp;
            p &nbsp;
            p &nbsp;
            section#content
                .colorlib-intro
                    .container
                        .row
                            block title
                        .row
                            block sorters
                        .row.main_description
                            block data

            footer#colorlib-footer
                .container
                    .row.row-pb-md
                        .col-md-3.colorlib-widget
                            // Comodo SSL
                            script(language="JavaScript" type="text/javascript").
                                TrustLogo("https://managuideapp.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
                            a.comodoTL(href="https://ssl.comodo.com") Comodo SSL
                        .col-md-3.colorlib-widget
                            h4 About Mana Guide
                            p.
                                This website and related apps contain data that is Copyright © Wizards of the Coast - All Rights Reserved<br/><br/>
                                This website is not affiliated with Wizards of the Coast in any way.<br/><br/><br/>
                                Mana Guide is maintained by: <a href="https://vitoroyeca.com"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Vito Royeca</span></span></a>
                            p
                                ul.colorlib-social-icons
                                    li
                                        a(href="https://twitter.com/ManaGuideApp")
                                            i.icon-twitter2
                                    li
                                        a(href="https://www.facebook.com/managuide/")
                                            i.icon-facebook2
                                    li
                                        a(href="https://plus.google.com/u/1/106570945096867830873")
                                            i.icon-google-plus2
                        .col-md-3.colorlib-widget
                            h4 Links
                            p
                                ul.colorlib-footer-links
                                    li
                                        a(href="#")
                                            i.icon-check  Home
                                    li
                                        a(href="/mobile")
                                            i.icon-check  Mobile App
                                    li
                                        a(href="/sets")
                                            i.icon-check  Sets
                                    li
                                        a(href="/rules")
                                            i.icon-check  Rules
                        .col-md-3.colorlib-widget
                            h4 Information
                            p
                                ul.colorlib-footer-links
                                    li
                                        a(href="/privacy.html")
                                            i.icon-check  Privacy

        .gototop.js-top
            a.js-gotop(href="#")
                i.icon-arrow-up2

        // jQuery
        script(src="/js/jquery.min.js")
        // jQuery Easing
        script(src="/js/jquery.easing.1.3.js")
        // Bootstrap
        script(src="/js/bootstrap.min.js")
        // Waypoints
        script(src="/js/jquery.waypoints.min.js")
        // Stellar Parallax
        script(src="/js/jquery.stellar.min.js")
        // YTPlayer
        script(src="/js/jquery.mb.YTPlayer.min.js")
        // Owl carousel
        script(src="/js/owl.carousel.min.js")
        // Magnific Popup
        script(src="/js/jquery.magnific-popup.min.js")
        script(src="/js/magnific-popup-options.js")
        // Counters
        script(src="/js/jquery.countTo.js")
        // Main
        script(src="/js/main.js")


