extends layout.pug
include mixins/_rulesList

block pageTitle
    title Comprehensive Rules - #{defaultPageTitle}
block headline
    h1.ui.header Comprehensive Rules
    p &nbsp;
block sorters
    form(action="/rules/search" method="get" id="rules_query" name="rules_query")
        .ui.mini.icon.input
            input(type="text" value=rules_query name="rules_query" id="rules_query" placeholder="Search for Rules...")
            i.search.icon
    p &nbsp;
block data
    if rules_query != null
        .ui.huge.breadcrumb
            a.section(href="/rules") Table of Contents
            i.right.chevron.icon.divider
            .active.section #{data != null ? data.length : 0} results
        if data.length > 1
            +rulesList(data)
    else
        if data.length > 1
            +rulesList(data)
        else
            .ui.huge.breadcrumb
                a.section(href="/rules") Table of Contents
                i.right.chevron.icon.divider
                each parent in splitRule(data)
                    a.section(href="/rules/" + parent.id) #{parent.term} #{parent.definition}
                    i.right.chevron.icon.divider
                .active.section #{data[0].term} #{data[0].definition}
            +rulesList(data[0].children)
