extends layout.pug
include mixins/_cardArt
include mixins/_cardsSorter
include mixins/_imageCardsRow
include mixins/_listCardsRow
include mixins/_montageCardsRow
include mixins/_setLanguageButtons

block pageTitle
    each set in data
        title #{set.name} (#{set.code}) - #{defaultPageTitle}
block headline
    each set in data
        table(width="100%")
            tbody
                tr
                    td(width="100%" colspan="3" align="right")
                        +setLanguageButtons(set)
                tr
                    td(rowspan=2 style="padding: 10px;" width="5%")
                        i(class='ss ss-' + set.keyrune_class + ' ss-3x ss-common')
                    td(width="95%")
                        h1.ui.header #{set.name} (#{set.code})
                tr
                    td(width="95%" colspan=2) #{set.card_count} cards &#11825; Released on #{set.release_date}
        p &nbsp;
block sorters
    +cardsSorter("set")
block data
    form(action=baseUrl method="get" id="set" name="set")
        input(type="hidden" value=displayAs name="displayAs" id="set.displayAs")
        input(type="hidden" value=sortedBy name="sortedBy" id="set.sortedBy")
        input(type="hidden" value=orderBy name="orderBy" id="set.orderBy")

    if displayAs == "montage"
        each set in data
            .ui.centered.link.cards
                each card in set.cards
                    +montageCardsRow(card)
    else if displayAs == "image"
        each set in data
            center
                .ui.link.cards
                    each card in set.cards
                        +imageCardsRow(card)
    else if displayAs == "list"
        each set in data
            table.ui.small.table
                thead
                    tr
                        th Set
                        th #
                        th Name
                        th Casting Cost
                        th Type
                        th Rarity
                        th Normal
                        th Foil
                        th &nbsp;
                tbody
                    each card in set.cards
                        +listCardsRow(card)
                tfoot
                    tr
                        th(colspan='9')
    else
        .ui.centered.link.cards
            each card in data
                +montageCardsRow(card)
