mixin tableRow(card)
    .ui.card
        .content
            if card.mana_cost != null
                .right.floated.meta
                    each manaUrl in  manaSymbol(card.mana_cost)
                        img(src=manaUrl height="16")
            a.header(href="/card/"+card.id+"?web=true") #{card.language.code == 'en' ? card.name : card.printed_name}
            .meta #{card.language.code == 'en' ? card.type_line : card.printed_type_line}
        a.image(href="/card/"+card.id+"?web=true")
            if card.faces.count > 0
                img.ui.rounded.image(src=card.faces[0].image_uris.art_crop)
            else
                img.ui.rounded.image(src=card.image_uris.art_crop)
        .content
            if card.prices.length > 0
                each price in card.prices
                    if price.is_foil
                        .right.floated.content Foil $#{ price.market }
                    else
                        .left.floated.content Normal $#{ price.market }
            else
                .left.floated.content Normal NA
                .right.floated.content Foil NA
        .extra.content
            table
                tr
                    td
                        i(class='ss ss-' + card.set.code + ' ss-' + card.rarity.name.toLowerCase() + ' ss-2x')
                    td #{card.set.name}
                tr
                    td(colspan=2) ##{card.collector_number} | #{card.rarity.name} | #{card.language.name}



