mixin cardSummary(card, languageCode)
    .ui.two.column.very.relaxed.stackable.grid
        .column
            h2.card.name(style="--font: " + cardHeaderFont(card) + "") #{languageCode == "en" ? card.name : card.printed_name}
        .right.aligned.column    
            p !{manaCost2Html(card.mana_cost)}
             
    .meta #{languageCode == "en" ? card.type_line : card.printed_type_line}
    
    if card.power || card.toughness
        .description #{card.power} / #{card.toughness}
    if languageCode == "en"
        .description !{changeManaSymbolsInText(card.oracle_text)}
    else
        .description !{changeManaSymbolsInText(card.printed_text)}
    if card.flavor_text
        .meta
            p &nbsp;
            i #{ card.flavor_text }
    .description
        p &nbsp;
        .ui.two.column.very.relaxed.stackable.grid
            .column
                p Illustrated by #{card.artist.name}
            .right.aligned.column
                if card.supertypes != undefined && card.supertypes.length > 0
                    each supertype in card.supertypes
                        if supertype.name == "Planeswalker"
                            p <span class="mana-symbol-loyalty-initial"> #{card.loyalty} </span>


    
