mixin listCardsRow(card)
    - var foil = 0
    - var normal = 0

    each price in card.prices
        if price.is_foil
            - foil = price.market
        else
            - normal = price.market

    tr
        td.center.aligned
            i(class="ss ss-" + card.set.keyrune_class + " ss-" + card.rarity.name.toLowerCase() + " ss-2x")
        td.right.aligned #{card.collector_number}
        td
            a(href="/card/"+card.id) #{card.language.code == "en" ? card.name : card.printed_name}
        td.right.aligned !{manaCost2Html(card.mana_cost)}
        td #{card.language.code == "en" ? card.type_line : card.printed_type_line}
        td #{card.rarity.name}
        if normal > 0
            td.right.aligned $#{ normal }
        else
            td.right.aligned &#8212
        if foil > 0
            td.right.aligned $#{ foil }
        else
            td.right.aligned &#8212