mixin montageCardsRow(card)
    .ui.centered.card
        .content
            .left.floated.content
                h3.card.name(style="--font: " + cardHeaderFont(card) + "") #{card.language.code == "en" ? card.name : card.printed_name}            
            .right.floated.content !{manaCost2Html(card.mana_cost)}

        .image
            +cardArt(card, ImageTypeEnum.art_crop, card.language.code == "en" ? card.name : card.printed_name)
            
        .content    
            .left.floated.content #{card.language.code == "en" ? card.type_line : card.printed_type_line}
            .right.floated.content
                i(class='ss ss-' + card.set.keyrune_class + ' ss-' + card.rarity.name.toLowerCase() + ' ss-2x')

        .content
            - var foil = 0
            - var normal = 0

            each price in card.prices
                if price.is_foil
                    - foil = price.market
                else
                    - normal = price.market
            if normal > 0
                .left.floated.content Normal $#{ normal }
            else
                .left.floated.content Normal &#8212;
            if foil > 0
                .right.floated.content Foil $#{ foil }
            else
                .right.floated.content Foil &#8212;
        
        .ui.bottom.attached.button
            if card.tcgplayer_id != 0
                a(href="https://www.tcgplayer.com/product/" + card.tcgplayer_id + "/partner=ManaGuide" target="_blank" rel="noopener noreferrer")
                    <i class="shopping cart icon"></i> Buy at TCGPlayer
            else
                span &nbsp;        



