mixin montageCardsRow(card)
    .ui.centered.card
        .content
            .ui.two.column.very.relaxed.stackable.grid
                .column
                    a.header(href="/card/" + card.new_id)
                        h4.card.name(style="--font: " + cardHeaderFont(card) + "") #{card.language.code == "en" ? card.name : card.printed_name}
                .right.aligned.column    
                    p !{manaCost2Html(card.mana_cost)}
            .meta #{card.language.code == "en" ? card.type_line : card.printed_type_line}

        .content
            +imageCardsRow(card, ImageTypeEnum.art_crop)

        .content
            - var foil = 0
            - var normal = 0

            each price in card.prices
                if price.is_foil
                    - foil = price.market
                else
                    - normal = price.market
            if normal > 0
                .left.floated.content Normal $#{ normal }
            else
                .left.floated.content Normal &#8212;
            if foil > 0
                .right.floated.content Foil $#{ foil }
            else
                .right.floated.content Foil &#8212;

        .extra.content
            table
                tbody
                    tr()
                        td(rowspan=2 style="padding: 5px;")
                            i(class='ss ss-' + card.set.keyrune_class + ' ss-' + card.rarity.name.toLowerCase() + ' ss-2x')
                        td #{card.set.name}
                    tr
                        td(colspan=2) ##{card.collector_number} &#x2E31; #{card.rarity.name} &#x2E31; #{card.language.name}



