mixin montageTableRow(card)
    .ui.card
        .content
            if card.mana_cost != null
                .right.floated.meta
                    each mana in  manaSymbols(card.mana_cost)
                        if mana == "//"
                            = mana
                        else
                            img(src="/images/mana/" + mana + ".svg" height="16")
            a.header(href="/card/"+card.id+"?displayAs="+displayAs+"&sortedBy="+sortedBy+"&orderBy="+orderBy) #{card.language.code == 'en' ? card.name : card.printed_name}
            .meta #{card.language.code == "en" ? card.type_line : card.printed_type_line}
        a.image(href="/card/"+card.id+"?displayAs="+displayAs+"&sortedBy="+sortedBy+"&orderBy="+orderBy)
            if card.faces.length > 0
                img.ui.rounded.image(src="/images/cards/" + card.set.code + "/" + card.language.code + "/" + card.faces[0].id + "/art_crop.jpg"
                                     alt=card.language.code == "en" ? card.name : card.printed_name)
            else
                img.ui.rounded.image(src="/images/cards/" + card.set.code + "/" + card.language.code + "/" + card.id + "/art_crop.jpg"
                                     alt=card.language.code == "en" ? card.name : card.printed_name)
        .content
            - var foil = 0
            - var normal = 0

            each price in card.prices
                if price.is_foil
                    - foil = price.market
                else
                    - normal = price.market
            if normal > 0
                .left.floated.content Normal $#{ normal }
            else
                .left.floated.content Normal &#8212;
            if foil > 0
                .right.floated.content Foil $#{ foil }
            else
                .right.floated.content Foil &#8212;

        .extra.content
            table
                tbody
                    tr()
                        td(rowspan=2 style="padding: 5px;")
                            i(class='ss ss-' + card.set.code + ' ss-' + card.rarity.name.toLowerCase() + ' ss-2x')
                        td #{card.set.name}
                    tr
                        td(colspan=2) ##{card.collector_number} &#x2E31; #{card.rarity.name} &#x2E31; #{card.language.name}



